{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "eslint-plugin-tsdoc"
  ],
  "rules": {
    "tsdoc/syntax": "warn",
    "no-underscore-dangle": 0,
    "prettier/prettier": "warn"
  }
}
